<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8a6fa50c-dc66-42a6-86e6-20d7549687f4/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/RoomiesAPI20220418164342</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <ApiResourceId>/subscriptions/8a6fa50c-dc66-42a6-86e6-20d7549687f4/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ApiManagement/service/RoomiesAPIapi2/apis/RoomiesAPI2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://roomiesapi20220418164342.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ad75c004-22b6-4089-bc17-4d1212894903</ProjectGuid>
    <MSDeployServiceURL>roomiesapi20220418164342.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RoomiesAPI20220418164342</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RoomiesAPI20220418164342</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>